<div class="sidebar-left position-fixed">
    <div class="sidebar-left-info">
        <div class="user-box">
            <div class="text-center text-white mt-2">
                <h6>Travis Watson</h6>
                <p class="text-muted m-0">Admin</p>
            </div>
        </div>
        <ul class="side-navigation">
            <li>
                <h3 class="navigation-title">Navigation</h3>
            </li>
            <li class="active">
                <a href="@Url.Action("Index", "Home")" title="Home"><i class="mdi mdi-gauge"></i> <span>Home</span></a>
            </li>
            <li>
                <h3 class="navigation-title">Components</h3>
            </li>
            <li class="menu-list">
                <a href=""><i class="mdi mdi-cart"></i> <span>Product</span></a>
                <ul class="child-list">
                    <li>
                        <a href="@Url.Action("CreateBrand", "Brand")" title="Add new">
                            <i class="mdi mdi-tag"></i>
                            <span> Brand</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ProductList", "Product")" title="List">
                            <i class="mdi mdi-format-list-bulleted"></i>
                            <span> Product List</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("CreateProduct", "Product")" title="Create New">
                            <i class="mdi mdi-file-document-box"></i>
                            <span> Create New</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-list">
                <a href="">
                    <i class="mdi mdi-shopping"></i>
                    <span>Order</span>
                </a>
                <ul class="child-list">
                    <li>
                        <a href="@Url.Action("Order", "Ordered")" title="Orders">
                            <i class="mdi mdi-format-list-bulleted"></i>
                            <span> Order List</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="@Url.Action("Index", "Customer")" title="Customer">
                    <i class="mdi mdi-account">
                    </i> <span>Customer</span>
                </a>
            </li>
        </ul>

    </div>
</div>