@model IEnumerable<ShopDienThoaiAPI.Models.CartItemModel>

<div style="overflow-y: scroll;">
    <button class="icon-cart">
        <i class="ti-shopping-cart"></i>
        <span id="123qwe" class="count-style">@(Model == null ? 0 : Model.Count())</span>
        <span class="count-price-add">Giỏ hàng</span>
    </button>
    <div class="shopping-cart-content">
        @if (Model != null)
        {
            int tongsoluong = 0;
            decimal total = 0, subtotal = 0;
            <ul>
                @foreach (var item in Model)
                {
                    subtotal = 0;
                    <li class="single-shopping-cart">
                        <div class="shopping-cart-img">
                            <a href="@Url.Action("Detail", "Shop", new { id = item.product.ProductID, url = item.product.ProductURL })">
                                <img alt="@item.product.ProductName" src="@item.product.ProductImage" style="width: 80px;">
                            </a>
                        </div>
                        <div class="shopping-cart-title">
                            <h3>
                                <a href="@Url.Action("Detail", "Shop", new { id = item.product.ProductID, url = item.product.ProductURL })">
                                    @item.product.ProductName
                                </a>
                            </h3>
                            @if (item.product.PromotionPrice.HasValue)
                            {

                                subtotal = item.product.PromotionPrice.Value * item.quantity;
                                total += subtotal;
                                tongsoluong = tongsoluong + item.quantity;
                                <span>
                                    Giá: @subtotal.ToString("#,##0")₫
                                </span>
                            }
                            else
                            {
                                subtotal = item.product.ProductPrice * item.quantity;
                                total += subtotal;
                                tongsoluong = tongsoluong + item.quantity;

                                <span>
                                    Giá: @subtotal.ToString("#,##0")₫
                                </span>
                            }
                            <span class="qty">SL: @item.quantity</span>
                        </div>
                        <div class="shopping-cart-delete">
                            <a href="@Url.Action("Delete", "Cart", new { id = item.product.ProductID })" id="cart-del-btn">
                                <i class="icofont icofont-ui-delete"></i>
                            </a>
                        </div>
                    </li>
                }
            </ul>
            <div class="shopping-cart-total">
                <h4>tổng @tongsoluong sản phâm   <span>@total.ToString("#,##0")₫</span></h4>
            </div>
            <div class="shopping-cart-btn">
                <a class="btn-style cr-btn" href="@Url.Action("Cart", "Cart")">chi tiết</a>
            </div>
            <div class="shopping-cart-btn">
                @if (tongsoluong > 100)
                {
                    <a class="btn-style cr-btn" href="javascript:void(0);">Giỏ hàng vượt quá 100 sp</a>
                }
                else
                {
                    <a class="btn-style cr-btn" href="@Url.Action("Checkout", "Cart")">thanh toán</a>
                }
            </div>
        }
        else
        {
            <h2 class="text-center">Giỏ Hàng Trống</h2>
            <div class="shopping-cart-btn">
                <a class="btn-style cr-btn" href="@Url.Action("Shop", "Shop")">bắt đầu mua hàng</a>
            </div>
        }
    </div>
</div>


