@model IEnumerable<Models.EF.ORDER>

@if (Model != null)
{
    <link href="~/Assets/css/order-list.css" rel="stylesheet" />

    <div class="table-responsive table-bordered">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th class="text-center">ID Đơn hàng</th>
                    <th class="text-center">Tổng tiền</th>
                    <th class="text-center">Ngày đặt hàng</th>
                    <th class="text-center">Tình Trạng</th>
                    <th class="text-center">Ghi chú</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="accordion-toggle collapsed alert" id="alert-@item.OrderID">
                        <td class="expand-button" id="accordion-@item.OrderID" data-toggle="collapse" data-parent="#accordion-@item.OrderID" href="#collapse-@item.OrderID" style="cursor: pointer;"></td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.OrderID)
                        </td>
                        <td class="text-center">
                            @item.Total.Value.ToString("#,##0")₫
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.OrderDate)
                        </td>
                        <th class="text-center" id="ordername-@item.OrderID">
                            blank
                        </th>
                        <td class="text-center" id="cancelbutton-@item.OrderID">
                            <button class="btn btn-info">blank</button>
                            @*@if (item.ORDERSTATU.StatusID.Equals(1))
                                {
                                    <button class="btn btn-danger" id="@item.OrderID"
                                            onclick="return CancelOrder('@item.OrderID')">
                                        Hủy đơn hàng
                                    </button>
                                }*@
                        </td>
                    </tr>
                    <tr class="hide-table-padding">
                        <td colspan="7">
                            <div id="collapse-@item.OrderID" class="collapse in p-3">
                                <div class="card card-body" id="@item.OrderID-product-table">
                                    <table class="table" style="margin-bottom: 0;">
                                        <thead>
                                            <tr>
                                                <th class="text-center">
                                                    ID Sản phẩm
                                                </th>
                                                <th class="text-center">
                                                    Tên Sản phẩm
                                                </th>
                                                <th class="text-center">
                                                    Đơn giá
                                                </th>
                                                <th class="text-center">
                                                    Số lượng
                                                </th>
                                                <th class="text-center">
                                                    Thành tiền
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    foreach (var item in Model)
    {
        <script>
        $(document).ready(function () {
            $.get(`https://localhost:44319/api/order/getorderstatus`,
                {
                    "orderid": "@item.OrderID"
                },
                function (data) {
                    var alert = $("#alert-@item.OrderID");

                    if (data.StatusID === 1) {
                        alert.addClass('alert-secondary');
                    } else if (data.StatusID === 2) {
                        alert.addClass('alert-primary');
                    } else if (data.StatusID === 3) {
                        alert.addClass('alert-success');
                    } else if (data.StatusID === 4 || data.StatusID === 5) {
                        alert.addClass('alert-danger');
                    };

                    $("#ordername-@item.OrderID").empty().append(data.StatusName);
                    if (data.StatusID == 1) {
                        $("#cancelbutton-@item.OrderID").empty().append(`<button class="btn btn-danger" id="@item.OrderID"
                                    onclick="return CancelOrder('@item.OrderID')">
                                Hủy đơn hàng
                            </button>`);
                    } else {
                        $("#cancelbutton-@item.OrderID").empty();
                    }
                }
            );

            $.get("https://localhost:44319/api/order/getproductlist",
                {
                    "orderid": "@item.OrderID"
                },
                function (data) {
                    console.log(data);
                    for (i = 0; i < data.length; i++) {
                        $("#@item.OrderID-product-table > table > tbody").append(`<tr>
                            <td class="text-center">${data[i].productid}</td>
                            <td class="text-center">${data[i].productname}</td>
                            <td class="text-center">${data[i].productprice}</td>
                            <td class="text-center">${data[i].Detail.Quantity}</td>
                            <td class="text-center">blank</td>
                            </tr>`);
                    }
                }
            );
        });
        </script>
    }
}
else
{
    <h1 class="text-center">Data not reachable</h1>
}