@model IEnumerable<Models.EF.PRODUCT>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="blog-hm-wrapper mb-40">
                <div class="blog-img">
                    <a href="@Url.Action("Detail", "Shop", new { id = item.ProductID, url = item.ProductURL })"><img src="@item.ProductImage" alt="@item.ProductName"></a>
                </div>
                <div class="blog-hm-content">
                    <h3>
                        <a href="@Url.Action("Detail", "Shop", new { id = item.ProductID, url = item.ProductURL })">
                            @item.ProductName
                        </a>
                    </h3>
                    <p><span>@item.ProductPrice.ToString("#,##0") đ</span> </p>
                </div>
            </div>
        </div>
    }
}