@using PagedList.Mvc
@model  PagedList.IPagedList<Models.EF.PRODUCT>
@{
    ViewBag.Title = "Cửa hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Assets/loading-spinner.css" rel="stylesheet" />
<link href="~/Assets/css/jquery-ui.css" rel="stylesheet" />

<div class="breadcrumb-area pt-255 pb-170" style="background-image: url(/Assets/img/slider/bg1.jpg)">
    <div class="container-fluid">
        <div class="breadcrumb-content text-center">
            <h2>cửa hàng</h2>
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Home")">home</a>
                </li>
                <li>cửa hàng</li>
            </ul>
        </div>
    </div>
</div>

<div class="shop-wrapper fluid-padding-2 pt-120 pb-150">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="product-sidebar-area pr-60">
                    <div class="sidebar-widget pb-55">
                        <h3 class="sidebar-widget">Tìm kiếm</h3>
                        <div class="sidebar-search">
                            <form action="@Url.Action("Shop", "Shop")" method="get">
                                <input class="search-box" type="text" placeholder="Tìm kiếm..." name="search" id="search-product">
                                <button type="submit"><i class="ti-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="sidebar-widget pb-50">
                        <h3 class="sidebar-widget">Lọc theo hãng</h3>
                        <div class="widget-categories">
                            <ul id="category-content">
                                <li><a href="@Url.Action("Shop", "Shop")">Tất cả</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop-topbar-wrapper">
                    <div class="grid-list-options">
                        <ul class="view-mode">
                            <li class="active"><a href="#product-grid" data-view="product-grid"><i class="ti-layout-grid2"></i></a></li>
                            <li><a href="#product-list" data-view="product-list"><i class="ti-view-list"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-sorting">
                        <div class="sorting sorting-bg-1">
                            <form>
                                <select class="select" id="sort-filter">
                                    <option value="default">Mặc định </option>
                                    <option value="name_asc">Tên A -> Z</option>
                                    <option value="name_desc">Tên Z -> A</option>
                                    <option value="price_asc">Giá thấp nhất</option>
                                    <option value="price_desc">Giá cao nhất</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(ViewBag.search))
                {
                    <h3>Bạn tìm kiếm: @ViewBag.search</h3>
                }
                <div class="grid-list-product-wrapper tab-content">
                    <div class="product-grid product-view tab-pane active">
                        <div class="row" id="product-content">
                            @foreach (var item in Model)
                            {
                                <div class="product-width col-md-4 col-xl-3 col-lg-4">
                                    <div class="product-wrapper mb-35">
                                        <div class="product-img">
                                            <a href="@Url.Action("Detail", "Shop", new { id = item.ProductID, url = item.ProductURL })">
                                                <img src="@item.ProductImage" alt="@item.ProductName">
                                            </a>
                                            <div class="product-action">
                                                <a class="action-plus-2 p-action-none addtocart" title="Thêm vào giỏ hàng"
                                                   href="javascript:void(0);" data-value="@item.ProductID">
                                                    <i class="ti-shopping-cart"></i>
                                                </a>
                                            </div>
                                            <div class="product-content-wrapper">
                                                <div class="product-title-spreed">
                                                    <h4>
                                                        <a href="@Url.Action("Detail", "Shop", new { id = item.ProductID, url = item.ProductURL })">
                                                            @item.ProductName
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div class="product-price">
                                                    @if (item.PromotionPrice.HasValue)
                                                    {
                                                        <span>@item.PromotionPrice.Value.ToString("#,##0")₫</span>
                                                    }
                                                    else
                                                    {
                                                        <span>@item.ProductPrice.ToString("#,##0")₫</span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-list-details">
                                            <h2>
                                                <a href="@Url.Action("Detail", "Shop", new { id = item.ProductID, url = item.ProductURL })">
                                                    @item.ProductName
                                                </a>
                                            </h2>
                                            <div class="quick-view-rating">
                                                <i class="fa fa-star reting-color"></i>
                                                <i class="fa fa-star reting-color"></i>
                                                <i class="fa fa-star reting-color"></i>
                                                <i class="fa fa-star reting-color"></i>
                                                <i class="fa fa-star reting-color"></i>
                                            </div>
                                            <div class="product-price">
                                                @if (item.PromotionPrice.HasValue)
                                                {
                                                    <span>@item.PromotionPrice.Value.ToString("#,##0")₫</span>
                                                }
                                                else
                                                {
                                                    <span>@item.ProductPrice.ToString("#,##0")₫</span>
                                                }
                                            </div>
                                            <p>@item.ProductDescription</p>
                                            <div class="shop-list-cart">
                                                <a class="addtocart" href="javascript:void(0);" data-value="@item.ProductID">
                                                    <i class="ti-shopping-cart">
                                                    </i> Add to cart
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <!--Load Btn-->
                <div class="paginations text-center mt-20">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Assets/js/jquery-ui.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            let search = "@ViewBag.search";
            let sort = "@ViewBag.sort";

            $.get("@Url.Action("NavbarCategory", "Home")",
                function (data) {
                    $("#category-content").append(data);
                }
            );

            $("#sort-filter").on('change', function (event) {
                let url =
                   '@Html.Raw(Url.Action("Shop", "Shop", new { search = "search-value", sort = "sort-value" }))';
                url = url.replace("search-value", search);
                url = url.replace("sort-value", this.value);
                window.location.href = url;
            });

            $("#search-product").autocomplete({
                source: function(request,response) {
                    $.ajax({
                        url: "@Url.Action("GetProductName", "Shop")",
                        type: "POST",
                        dataType: "json",
                        data: { prefix: request.term },
                        success: function (data) {
                            response($.map(data.name, function (item) {
                                return { label: item.ProductName, value: item.ProductName };
                            }));
                        }
                    });
                },
                minLength: 2
            });

            $(".addtocart").each(function () {
                $(this).click(function (event) {
                    event.preventDefault();
                    var prodid = $(this).data("value");
                    $.post("@Url.Action("OrderNow", "Cart")", {
                        'prodid': prodid,
                        'quantity': "1"
                    }, function (data) {
                        console.log(data);
                        if (data.Status == true) {
                            swal("Success", "Add to cart success!", "success")
                                .then((value) => {
                                    location.reload();
                                });
                        } else if (data.Status == false) {
                            swal("Failed", data.Message, "error");
                        }
                    }).fail(function () {
                        swal("Failed", "Add to cart failed!", "error");
                    });
                })
            });
        })
    </script>
}