@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Assets/loading-spinner.css" rel="stylesheet" />
<link href="~/Assets/css/jquery-ui.css" rel="stylesheet" />

<div class="breadcrumb-area pt-255 pb-170" style="background-image: url(/Assets/img/slider/bg1.jpg)">
    <div class="container-fluid">
        <div class="breadcrumb-content text-center">
            <h2>của hàng</h2>
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Home")">home</a>
                </li>
                <li>
                    <a href="@Url.Action("Shop", "Shop")">của hàng</a>
                </li>
                <li>@ViewBag.brand.BrandName</li>
            </ul>
        </div>
    </div>
</div>

<div class="shop-wrapper fluid-padding-2 pt-120 pb-150">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="product-sidebar-area pr-60">
                    <div class="sidebar-widget pb-55">
                        <h3 class="sidebar-widget">Tìm kiếm</h3>
                        <div class="sidebar-search">
                            <form action="@Url.Action("Shop", "Shop")" method="get">
                                <input class="search-box" type="text" placeholder="Tìm kiếm..." name="search" id="search-product">
                                <button type="submit"><i class="ti-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="sidebar-widget pb-50">
                        <h3 class="sidebar-widget">Lọc theo hãng</h3>
                        <div class="widget-categories">
                            <ul id="category-content">
                                <li><a href="@Url.Action("Shop", "Shop")">Tất cả</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop-topbar-wrapper">
                    <div class="grid-list-options">
                        <ul class="view-mode">
                            <li class="active"><a href="#product-grid" data-view="product-grid"><i class="ti-layout-grid2"></i></a></li>
                            <li><a href="#product-list" data-view="product-list"><i class="ti-view-list"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-sorting">
                        <div class="sorting sorting-bg-1">
                            <form>
                                <select class="select" id="sort-filter">
                                    <option value="default">Mặc định </option>
                                    <option value="name_asc">Tên A -> Z</option>
                                    <option value="name_desc">Tên Z -> A</option>
                                    <option value="price_asc">Giá thấp nhất</option>
                                    <option value="price_desc">Giá cao nhất</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="grid-list-product-wrapper tab-content">
                    <div class="product-grid product-view tab-pane active">
                        <div class="row" id="product-content">
                        </div>
                        <div class="loader" id="loader">
                            <svg class="circular">
                                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10"></circle>
                            </svg>
                        </div>
                    </div>
                </div>
                <!--Load Btn-->
                <div class="paginations text-center mt-20">
                    <div class="btn">
                        <button id="load-more">Tải thêm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Assets/js/jquery-ui.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            let sort = "@ViewBag.sort";
            let id = "@ViewBag.brand.BrandID";
            let pageindex = 0;

             $.get("@Url.Action("NavbarCategory", "Home")",
                function (data) {
                    $("#category-content").append(data);
                }
            );

            $.get("@Url.Action("ShopPartial", "Shop")",
                {
                    "brandid": id,
                    "sort": sort,
                    "pageindex": pageindex
                },
                function (data) {
                    $("#product-content").append(data);
                    $("#loader").hide();
                }
            );

            $(".sort-filter").click(function (event) {
                let url =
                   '@Html.Raw(Url.Action("ShopCategory", "Shop", new { sort = "sort-value" }))';
                url = url.replace("sort-value", $(this).data("value"));
                window.location.href = url;
            });

            $("#search-product").autocomplete({
                source: function(request,response) {
                    $.ajax({
                        url: "@Url.Action("GetProductName", "Shop")",
                        type: "POST",
                        dataType: "json",
                        data: { prefix: request.term },
                        success: function (data) {
                            response($.map(data.name, function (item) {
                                return { label: item.ProductName, value: item.ProductName };
                            }));
                        }
                    });
                },
                minLength: 2
            });

            $("#load-more").click(function () {
                $("#loader").show();
                pageindex += 1;
                $.get("@Url.Action("ShopPartial", "Shop")",
                    {
                        "brandid": id,
                        "sort": sort,
                        "pageindex": pageindex
                    },
                    function (data) {
                        $("#product-content").append(data);
                        $("#loader").hide();
                    }
                );
            });
        })
    </script>
}