@model Models.EF.PRODUCT

@{
    ViewBag.Title = @Html.DisplayFor(model => model.ProductName);
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css'>

<h2>
    @Html.DisplayFor(model => model.ProductName) Details
</h2>

<form action="#" method="post" id="update-product-form">
    <div class="row">
        <div class="input-field col-lg-2 s12">
            <label>ID</label>
        </div>
        <div class="input-field col s12">
            <input readonly value="@Html.DisplayFor(model => model.ProductID)">
        </div>
    </div>

    @*<div class="row">
        <div class="input-field col-lg-2 s12">
            <label>Brand</label>
        </div>
        <div class="input-field col s12">
            <input readonly value="@Html.DisplayFor(model => model.BRAND.BrandName)">
        </div>
    </div>*@

    <div class="row">
        <div class="input-field col-lg-2 s12">
            <label>Name</label>
        </div>
        <div class="input-field col s12">
            <input id="product-name" name="product-name" type="text" class="validate" value="@Html.DisplayFor(model => model.ProductName)">
        </div>
    </div>

    <div class="row">
        <div class="input-field col-lg-2 s12">
            <label>Price</label>
        </div>
        <div class="input-field col s12">
            <input id="product-price" name="product-price" type="number" class="validate" value="@Html.DisplayFor(model => model.ProductPrice)">
        </div>
    </div>

    <div class="row">
        <div class="input-field col-lg-2 s12">
            <label>Promotion Price</label>
        </div>
        <div class="input-field col s12">
            <input id="product-promotion" name="product-promotion" type="number" class="validate" value="@Html.DisplayFor(model => model.PromotionPrice)">
        </div>
    </div>
    <div class="row">
        <div class="input-field col-lg-2 s12">
            <label>Stock</label>
        </div>
        <div class="input-field col s12">
            <input id="product-stock" name="product-stock" type="number" class="validate" value="@Html.DisplayFor(model => model.ProductStock)">
        </div>
    </div>

    <div class="row">
        <div class="input-field col-lg-2 s12">
            <label>Show Image 1</label>
        </div>
        <div class="input-field col s12">
            <input id="product-image" type="text" class="validate" value="@Html.DisplayFor(model => model.ProductImage)">
        </div>
    </div>

    <div class="row">
        <div class="input-field col-lg-2 s12">
            <label>Status</label>
        </div>
        <div class="input-field col s12">
            <input id="status-checkbox" type="checkbox" checked="checked" />
            <label for="status-checkbox" id="checkbox-label">Active</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col-lg-2 s12">
            <label>Decription</label>
        </div>
        <div class="input-field col s12">
            <textarea placeholder="Decription" id="text-area" name="area" value="@Html.DisplayFor(model => model.ProductDescription)"></textarea>
        </div>
    </div>

    <button class="btn waves-effect waves-light" type="submit" name="action">
        <span>Save changes </span><i class="mdi mdi-send"></i>
    </button>
</form>

@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js'></script>
    <script>
        $(document).ready(function () {
            $('select').material_select();

            $("#status-checkbox").click(function () {
                if ($(this).is(":checked")) {
                    $("#checkbox-label").text("Active");
                } else {
                    $("#checkbox-label").text("Inactive");
                };
            });

            $("#product-name").on('input', function (e) {
                $("#product-url").val(slugify($("#product-name").val()));
            });

            function slugify(text) {
                return text.toString().toLowerCase()
                    .replace(/\s+/g, '-')           // Replace spaces with -
                    .replace(/[^\w\-]+/g, '')       // Remove all non-word chars
                    .replace(/\-\-+/g, '-')         // Replace multiple - with single -
                    .replace(/^-+/, '')             // Trim - from start of text
                    .replace(/-+$/, '');            // Trim - from end of text
            }

            $("#update-product-form").validate({
                rules: {
                    'product-name': "required",
                    'product-price': {
                        required: true
                    },
                    'product-stock': {
                        digits: true
                    }
                },
                messages: {
                    'product-name': "Please enter product name",
                    'product-price': {
                        required: "Please enter product price"
                    },
                    'product-stock': "Not a correct format"
                },
                submitHandler: function () {
                    let data = {
                        "id": "@Model.ProductID",
                        "ProductName": $("#product-name").val(),
                        "ProductPrice": $("#product-price").val(),
                        "PromotionPrice": $("#product-promotion").val(),
                        "ProductStock": $("#product-stock").val(),
                        "BrandID": "@Model.BrandID",
                        "ProductImage": $("#product-image").val(),
                        "ProductDescription": $("#text-area").val(),
                        "ProductStatus": $("#status-checkbox").is(":checked")
                    };
                    $.ajax({
                        url: "@Url.Action("UpdateProduct", "Product")",
                        type: "POST",
                        data: JSON.stringify(data),
                        dataType: "json",
                        contentType: "application/json",
                        success: function (response) {
                            console.log(response);
                            if (data.Status == true) {
                                swal("Edit success", "", "success")
                                    .then((value) => {
                                        location.reload();
                                    });
                            } else if (data.Status == false) {
                                swal("Edit fail", data.Message, "error");
                            }
                        },
                        error: function (error) {
                            swal("Error updating product!", "", "success");
                        }
                    });
                }
            });
        });
    </script>
}